# dependencies
/node_modules
/.pnp
.pnp.js

# next.js
/.next/
/out/

# production
/build

# env
.env
.env*.local
.env.sandbox
!.env.sandbox.example

# misc
.DS_Store
*.pem
.vercel
*.tsbuildinfo
next-env.d.ts.timestamp
